<section class="movieContainer">
  <h1>Movies currently showing at the theater.</h1>
  <ul class="movieContainer__list">
    {{#each movies}}
      <li class="movieContainer__movieLink">
        <a href="/movies/{{this.id}}">
          {{this.title}}
        </a>
      </li>
    {{/each}}
  </ul>
</section>