<section class="wcagContainer">
  <h2>Results before WCAG improvements</h2>
  <ul>
    <li class="wcagContainer__link"><a
        href="/WCAGtesting/BeforeOptimization/home.html"
      >Home</a></li>
    <li class="wcagContainer__link"><a
        href="/WCAGtesting/BeforeOptimization/movies.html"
      >Movies</a></li>
    <li class="wcagContainer__link"><a
        href="/WCAGtesting/BeforeOptimization/individualMovie.html"
      >Individual Movies</a></li>
    <li class="wcagContainer__link"><a href="/WCAGtesting/Before_optimization/aboutUs.html">About Us</a></li>
    <li class="wcagContainer__link"><a
        href="/WCAGtesting/BeforeOptimization/newsAndEvents.html"
      >News and events</a></li>
  </ul>

  <h2>Results after WCAG improvements</h2>
  <ul>
    <li class="wcagContainer__link"><a href="/WCAGtesting/AfterOptimization/home.html">Home</a></li>
    <li class="wcagContainer__link"><a
        href="/WCAGtesting/AfterOptimization/movies.html"
      >Movies</a></li>
    <li class="wcagContainer__link"><a href="">Individual Movies</a></li>
    <li class="wcagContainer__link"><a href="">About Us</a></li>
    <li class="wcagContainer__link"><a href="">News and events</a></li>
  </ul>
</section>